<% provide(:title, "Play") %>

<!DOCTYPE html>
<html>
  
  <body>
  
  <h1>Listen to your song!</h1>

  <audio id='song'>

  <script>
  window.onload = function init() {
    var au = document.findElementById('song');
    au.controls = true;
    au.src = 'url';
  };
  </script>
  
</body>
</html>
