<% provide(:title, "Record") %>
<!DOCTYPE html>
<html>

    <body>



 <div style="margin: auto;">
  <div class ="center">
  <button id="record"  class="btn">Start</button>
  <div id='line'>|</div>
  
  <div id='wordtype' class = "biggertext"></div>
  <div id='syllables' class= "biggertext"></div>

</div>
 


  <script>
  var blanks;
  var index = -1;
  var interval;
  var numBlanks;
  function newClip() {
      index += 1;
      var line = document.getElementById('line');
      line.width = blanks[index].length;
      var wordtype = document.getElementById('wordtype');
      wordtype.innerHTML = blanks[index].wordtype ;
      var syllables = document.getElementById('syllables');
      syllables.innerHTML = blanks[index].syllabuls + " syllables";
  }
  var audio_context;
  var recorder;
  var urls = [];
  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    
    recorder = new Recorder(input);
  }
  function startRecording(button) {
    recorder && recorder.record();
    button.onclick = function() { stopRecording(this); }
    button.innerHTML = "Stop";
    var length = blanks[index].length;
    interval = setInterval(function(){stopRecording(document.getElementById("record"));},length);
  }
  function stopRecording(button) {
    recorder && recorder.stop();
    button.onclick = function () { startRecording(this); }
    button.innerHTML = "Start";
    
    var url = '';
    // create WAV download link using audio data blob
    recorder && recorder.exportWAV(function(blob) {
      url = URL.createObjectURL(blob);
      console.log(url);
      urls.push(url);
    });
    console.log(recorder);
    recorder.clear();
    clearInterval(interval);
    
    if(index < numBlanks - 1) {
      newClip();
    } else {
      interval = setInterval(function(){ end();},1000);
    }
  }
  window.onload = function init() {
  //function begin() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;
      
      audio_context = new AudioContext;
    } catch (e) {
      alert('No web audio support in this browser!');
    }
    
    data = "<%= @Blank %>";
    blanks = JSON.parse(data.replace(/&quot;/g,'"'));
    numBlanks = blanks.length;
    console.log(blanks);

    newClip();
    document.getElementById('record').onclick = function () { startRecording(this); }
    
    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
    });
  };
  function end() {
    clearInterval(interval);
    console.log(urls);
    loadSong();
    for(var index = 0; index < urls.length; index += 1) {
      loadClipSound(index);
    }
  }
  var buffers = [];
  var intervals = [];
  var songBuffer = null;
  var context = new AudioContext();
  function loadClipSound(index) {
    var url = urls[index];
    var request = new XMLHttpRequest();
    request.open('GET', url, true);
    request.responseType = 'arraybuffer';

    // Decode asynchronously
    request.onload = function() {
      context.decodeAudioData(request.response, function(buffer) {
        buffers[index] = buffer;
        intervals[index] = setInterval(function(){ (playClip(index));},blanks[index].start_time + 1);
      });
    }
    request.send();
  }
  function playClip(index) {
    var buffer = buffers[index];
    clearInterval(intervals[index]);
    var source = context.createBufferSource();
    source.buffer = buffer;                
    source.connect(context.destination);       
    source.start(0);                         
  }
  function loadSong() {
    var url = "../assets/Club.wav";
    var request = new XMLHttpRequest();
    request.open('GET', url, true);
    request.responseType = 'arraybuffer';

    // Decode asynchronously
    request.onload = function() {
      context.decodeAudioData(request.response, function(buffer) {
        playSong(buffer);
      });
    }
    request.send();
  }
  function playSong(buffer) {
    clearInterval(intervals[index]);
    var source = context.createBufferSource();
    source.buffer = buffer;                
    source.connect(context.destination);       
    source.start(0);                         
  }
  </script>
  </body>
</html>
